<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/dist/css/qnalist.css}">

    <th:block th:replace="~{layout::setFragment(~{this::content})}">

        <th:block th:fragment="content" >




            <div class="qna-container">
    <div class="row">
        <div class="col">

                <div class="qna-title">
                    <h2 id="qnah">Q & A</h2>
                    <div class="qna-title-img">

                    </div>
                    <p id="qna-ko">질문과 답변</p>
                </div> <!-- qna-title -->

                <div class="qna-table-box">
                    <table class='qna-list'>

                        <thead>
                        <tr>
                            <th width=7% scope='col' class='dis_title'>#</th>
                            <th width=20% class="dis_title" >제목</th>
                            <th width=10% scope='col' class='dis_title'>작성자</th>
                            <th width=10% scope='col' class='dis_title'>작성일</th>
                            <th width=5% scope='col' class='dis_title'>답변수</th>
                            <th width=5% scope='col' class='dis_title'>조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 여기에 동적으로 생성되는 내용이 들어감 -->


                        <tr>
                            <td class='dis_none ' style="color : red;">자주 묻는 질문</td>
                            <td class='dis_none'><a style="color: yellow;
    text-decoration: none;" class="qna_title" href="">예약 변경하려면 어떻게 해야하나요?</a></td>
                              <td class='dis_none'>관리자</td>
                            <td class='dis_none'>2024-05-24</td>
                            <td class='dis_none'>0</td>
                            <td class='dis_none'>0</td>
                        </tr>







                        <button id="qnawrite">문의글 작성</button>


                        <!-- 이하 생략 -->
                        </tbody>
                    </table> <!-- qna-list -->

                    <form class="qnasearch" role="search">
                        <nav class="qna-search-nav">

                            <div class="qna_search_div" style=" text-align :center;
  margin-top : 30px; border-radious:0; ">

                                <select id="qna_select" aria-label="선택">
                                    <option>선택</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>

                                <input class="qna_search_input" type="search" placeholder="Search" aria-label="Search">
                                <button class="qna_search_btn" type="submit">검색</button>


                            </div>

                        </nav>
                    </form>







            <!-- qna-container -->
            <nav  class="qna-page">
                <ul class="pagination">
                    <li class="qnapage">
                        <a class="qnapage" href="#" aria-label="Previous">
                            <span  id="qna-page-previous" aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="qnapage"><a class="qnapage" href="#">1</a></li>
                    <li class="qnapage"><a class="qnapage" href="#">2</a></li>
                    <li class="qnapage"><a class="qnapage" href="#">3</a></li>
                    <li class="qnapage">
                        <a class="qnapage" href="#" aria-label="Next">
                            <span id="qna-page-next" aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
                </div> <!-- qna-table-box -->
        </div> <!-- col -->
    </div> <!-- row -->
            </div>




        </th:block>

    </th:block>
</html>






