<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/dist/css/adminRegister.css}">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <section class="themeRegister">
            <div class="pageTitle">
                <div class="container">
                    <h3>테마 등록</h3>
                </div>
            </div>

            <div id="themeRegisterForm">
                <div class="container">
                    <form action="/adminRegister/adminRegister" method="post" enctype="multipart/form-data">
                        <div class="formGroup">
                            <label for="tname">테마 이름</label>
                            <input id="tname" type="text" name="tname" placeholder="테마 이름을 입력해주세요." required>
                        </div>

                        <div class="formGroup">
                            <label for="themeImage">테마 이미지</label>
                            <input id="themeImage" type="file" name="themeImage" accept="image/*" required>
                        </div>

                        <div class="formGroup">
                            <label for="content">테마 설명</label>
                            <textarea id="content" name="content" placeholder="테마 설명을 입력해주세요." required></textarea>
                        </div>

                        <div class="formGroup">
                            <label for="price">가격</label>
                            <input id="price" name="price" placeholder="가격을 입력해주세요." required></input>
                        </div>

                        <div class="formGroup">
                            <label for="difficulty">난이도</label>
                            <select id="difficulty" name="difficulty" required>
                                <option value="easy">쉬움</option>
                                <option value="medium">보통</option>
                                <option value="hard">어려움</option>
                            </select>
                        </div>

                        <div class="formGroup">
                            <label for="usingTime">소요 시간 (분)</label>
                            <input id="usingTime" type="number" name="usingTime" placeholder="소요 시간을 입력해주세요." required>
                        </div>

                        <div class="formGroup">
                            <button type="submit" class="btn btnDark">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </th:block>
</th:block>
