<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SecretCode.ezen.www.repository.adminRegisterMapper">

    <insert id="insert">
        insert into theme(theme_num, theme_name, difficulty, genre, recnumpeople, playtime, description, uuid)
        values (#{themeNum}, #{themeName}, #{difficulty}, #{genre}, #{recNumPeople}, #{playTime}, #{description}, #{uuid})
    </insert>

    <insert id="insertFile">
        insert into file(uuid, save_dir, file_name, file_type, bno, file_size)
        values (#{uuid}, #{saveDir}, #{fileName}, #{fileType}, #{bno}, #{fileSize})
    </insert>

    <select id="getList" resultType="SecretCode.ezen.www.domain.MemberVO">
        select * from member
    </select>

   <select id="getreservationList" resultType="SecretCode.ezen.www.domain.ThemeVO">
       select * from theme t join  file f  on  t.uuid = f.uuid
    </select>

    <select id="getThemeNum" resultType="SecretCode.ezen.www.domain.adRegisterVO">
        select theme_num, theme_name from theme
    </select>

    <delete id="deleteAuthUser">
        delete from auth_member where email = #{email}
    </delete>

    <delete id="deleteTheme">
        DELETE FROM theme WHERE theme_num = #{themeNum}
    </delete>

    <delete id="deleteUser">
        delete from member where email = #{email}
    </delete>

    <select id="getListWithPaging" resultType="SecretCode.ezen.www.domain.MemberVO">
        select m.* from member m
        join auth_member a on m.email = a.email
        <if test="auth != null">
            where a.auth = #{auth}
        </if>
        limit #{pageStart}, #{qty}
    </select>


    <select id="getBoardTotalCount" resultType="int">
        select count(*) from qna where is_notice = 'false'
        <include refid="search"></include>
    </select>

    <select id="getBoardList" resultType="SecretCode.ezen.www.domain.QnaVO">
        select * from qna where is_notice = 'false'
        order by bno desc limit #{pageStart}, #{qty}
    </select>

    <select id="getNoticeList" resultType="SecretCode.ezen.www.domain.QnaVO">
        select * from qna
        where is_notice ='true'
        order by bno desc
    </select>

    <select id="getTotalCount" resultType="int">
        select count(email) from member
    </select>

    <select id="getTotalCountWithAuth" resultType="int">
        select count(m.email) from member m
        join auth_member a on m.email = a.email
        where a.auth = #{auth}
    </select>



    <sql id="search">
        <if test="type != null">
            <trim prefix="and (" suffix=")" suffixOverrides="or">
                <foreach collection="typeToArray" item="type">
                    <trim suffix="or">
                        <choose>
                            <when test="type=='t'.toString()">
                                title like concat('%', #{keyword}, '%')
                            </when>
                            <when test="type=='w'.toString()">
                                writer like concat('%', #{keyword}, '%')
                            </when>
                            <when test="type=='c'.toString()">
                                content like concat('%', #{keyword}, '%')
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>

    <!-- 새로운 authSearch 추가 -->
    <sql id="authSearch">
        <if test="auth != null">
            and auth = #{auth}
        </if>
    </sql>



</mapper>
