<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<link rel="stylesheet" th:href="@{/dist/css/reviewlist.css}">

<th:block th:replace="~{layout::setFragment(~{this::content})}">

    <th:block th:fragment="content" >

        <div class="full">
            <div class="container">
                <h1 class="mt-5">리뷰</h1>


                <div class="regBtn-box">
                    <form action="/review/register" >

                        <button type="submit" id="review-write">리뷰 작성</button>
                    </form>

                </div>


                <!-- 리뷰 목록 -->
                <div th:each="rvo : ${list}" class="card mt-3" style="border-bottom-right-radius: 72px; border: 2px solid white; ">
                    <div class="card-body d-flex">

                        <!-- 이미지 영역 -->
                        <div class="theme-img" style="width: 25%;">
                            <img th:src="@{/dist/image/poster40.jpeg}" alt="이미지 x" class="img-fluid">
                        </div>


                        <!-- 내용 영역 -->
                        <div class="card-details" style="width: 65%;">
                            <div class="content">
                                <div class="star-rating">
            <span th:switch="${rvo.rating}">
                <span th:case="1">★</span>
                <span th:case="2">★★</span>
                <span th:case="3">★★★</span>
                <span th:case="4">★★★★</span><span th:case="5">★★★★★</span>
            </span>
                                </div>
                                <div class="theme-name">
                                    <h5 class=""> [[${rvo.theme}]]</h5>
                                </div>
                                <div class="card-title">
                                    <h5 >제목 : [[${rvo.title}]]</h5>
                                </div>
                                <div class="card-subtitle mb-2 text-muted">
                                    <span>[[${rvo.writer}]]</span> | <span>[[${rvo.regDate}]] </span>
                                </div>
                                <div class="card-text">
                                    <p class="review-text">[[${rvo.content}]]</p>
                                </div>
                                <div class="likes-button" style="margin-top: 100px; float:right;">
                                    <button class="btn btn-outline-success btn-sm mt-2" style="width:70px; height:50px;" th:text="'👍 ' + ${rvo.readCount}">👍 0</button>
                                </div>

                            </div>
                        </div>



                    </div>

                </div>

            </div>
            <nav aria-label="Page navigation example" >
                <ul class="pagination justify-content-center" style="margin: 50px 0 0 0;">
                    <li th:if="${ph.prev}"  class="page-item">
                        <a class="page-link" th:href="@{/review/list(pageNo=${ph.startPage-1},qty=${ph.pgvo.qty},type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <!--th:classappend: 동적 클래스 추가-->

                    <th:block th:each="i:${#numbers.sequence(ph.startPage,ph.endPage)} ">

                        <li class="page-item" th:classappend="${ph.pgvo.pageNo == i ?'active':''}" aria-current="page">
                            <a class="page-link" style="color:black; background-color:white;" th:href="@{/review/list(pageNo=${i},qty=${ph.pgvo.qty},type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}">[[${i}]]</a>
                        </li>
                    </th:block>

                    <li th:if="${ph.next}" class="page-item">
                        <a class="page-link"  th:href="@{/review/list(pageNo=${ph.endPage+1}
                                    ,qty=${ph.pgvo.qty},type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>












    </th:block>
</th:block>
</html>