<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/adminUser.css}">
</head>
<body>
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="userContainer">
            <h2 class="userList">회원관리 리스트</h2>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">이메일</th>
                    <th scope="col">비밀번호</th>
                    <th scope="col">닉네임</th>
                    <th scope="col">가입 날짜</th>
                    <th scope="col">최근 로그인 기록</th>
                    <th scope="col">전화번호</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="mvo:${list}">
                    <tr>
                        <th scope="row"></th>
                        <td data-title="Released" id="memberListEmail">[[${mvo.email}]]</td>
                        <td data-title="Studio">[[${mvo.pwd}]]</td>
                        <td data-title="Worldwide Gross" data-type="currency">[[${mvo.nickName}]]</td>
                        <td data-title="Domestic Gross" data-type="currency">[[${mvo.regAt}]]</td>
                        <td data-title="Foreign Gross" data-type="currency">[[${mvo.lastLogin}]]</td>
                        <td data-title="Budget" data-type="currency">[[${mvo.phone}]]</td>
                        <td><button type="button" class="delBtn" id="deleteBtn">해방</button></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <script th:src="@{/dist/js/adminUser.js}"></script>
    </th:block>
</th:block>
</body>
</html>
