<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/comePage.css}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=LIBRARY"></script>

    <!-- services 라이브러리 불러오기 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services"></script>
    <!-- services와 clusterer, drawing 라이브러리 불러오기 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services,clusterer,drawing"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8a4f6f7d6b53d1c1700f3d75c22cd297"></script>
</head>
<body>
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="pageHeader">
            <h1>오시는 길</h1>
        </div>
        <div class="mapContainer">
            <div id="map" style="height: 400px;"></div>
            <!-- 로드뷰 버튼 -->
            <button id="roadviewBtn" style="position: absolute; bottom: 320px; left: 10px; z-index: 1;">로드뷰 보기</button>
            <div id="roadview" style="width: 100%; height: 300px; position: absolute; bottom: 0; left: 0; display: none;"></div>
        </div>
        <div class="infoSection">
            <table>
                <tbody>
                <tr>
                    <td class="address">주소</td>
                    <td>인천광역시 남동구 인주대로 593 엔타스빌딩 (12층)</td>
                </tr>
                <tr>
                    <td class="address">전화</td>
                    <td>010-8948-9443</td>
                </tr>
                <tr>
                    <td class="address">메일</td>
                    <td>yondam84@gmail.com</td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer>
            <p>저희 카페에 방문해 주셔서 감사합니다.</p>
        </footer>
        <script>
            var mapContainer = document.getElementById('map'),
                mapOptions = {
                    center: new kakao.maps.LatLng(37.45032890524249, 126.70288019661811),
                    level: 3
                };

            var map = new kakao.maps.Map(mapContainer, mapOptions);
            var marker = new kakao.maps.Marker({
                position: map.getCenter()
            });
            marker.setMap(map);

            var roadviewContainer = document.getElementById('roadview'); //로드뷰를 표시할 div
            var roadview = new kakao.maps.Roadview(roadviewContainer); //로드뷰 객체
            var roadviewClient = new kakao.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체

            var position = new kakao.maps.LatLng(37.45032890524249, 126.70288019661811);
            // 특정 위치의 좌표와 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄운다.
            document.getElementById('roadviewBtn').addEventListener('click', function() {
                roadviewContainer.style.display = 'block';
                roadviewClient.getNearestPanoId(position, 50, function(panoId) {
                    roadview.setPanoId(panoId, position); //panoId와 중심좌표를 통해 로드뷰 실행
                });
            });
        </script>
    </th:block>
</th:block>
</body>
</html>
